{{> header}}

{{#each forms}}
  <div class="card card-outline-primary text-center">
    <form action="/admin" method="post">
      <input type="hidden" name="id" value="{{ this._id }}">

      <!-- <span class="close-icon" data-effect="fadeOut" type="submit"><i class="fa fa-times"></i></span> -->
      <button class="close-icon btn btn-danger" data-effect="fadeOut" type="submit">DELETE</button>
    </form>
    <div class="card-block">
      <ul>
        <li>Date: {{ this.date }}</li>
        <li>Name: {{ this.name }}</li>
        <li>Email: {{ this.email }}</li>
        <li>Message: {{ this.message }}</li>
        <li>Wants newsletter: {{ this.signUp }}</li>
      </ul>
    </div>
  </div>
{{/each}}


{{> scripts}}
<script src="/js/admin.js"></script>
{{> footer}}
