{{> header}}

<section class="forms">

  <div class="logout text-right">
    <form class="" action="/logout" method="post">
      <button class="btn btn btn-dark" type="submit" role="button" onClick="history.go(0)">Log Out</btn>
    </form>

  </div>

<div class="flex-container">



{{#each forms}}

  <div class="card">
    <div class="buttons">
    <button class="hide-icon" data-effect="fadeOut">HIDE</button>
    <form class="delete-form" action="/delete" method="post">
      <input type="hidden" name="id" value="{{ this._id }}">
      <button class="close-icon" data-effect="fadeOut" type="submit">DELETE</button>
    </form>
    </div>
    <div class="card-block">
      <ul>
        <li><span class="color-change">Date: </span>{{ this.date }}</li>
       <li><span class="color-change">Name: </span>{{ this.name }}</li>
        <li><span class="color-change">Email: </span>{{ this.email }}</li>
        <li><span class="color-change">Message: </span>{{ this.message }}</li>
        <li><span class="color-change">Wants newsletter: </span> {{ this.signUp }}</li>
      </ul>
    </div>
  </div>
{{/each}}

</div>

</section>

{{> admin-scripts}}
<script src="/js/savedForms.js"></script>
{{> footer}}
