{{> header}}

{{#each forms}}

  <div class="card card-outline-primary text-center">
    <button class="hide-icon" data-effect="fadeOut">HIDE</button>
    <form class="delete-form" action="/delete" method="post">
      <input type="hidden" name="id" value="{{ this._id }}">
      <button class="close-icon" data-effect="fadeOut" type="submit">DELETE</button>
    </form>
    <div class="card-block">
      <ul>
        <li>Date: {{ this.date }}</li>
        <li>Name: {{ this.name }}</li>
        <li>Email: {{ this.email }}</li>
        <li>Message: {{ this.message }}</li>
        <li>Wants newsletter: {{ this.signUp }}</li>
      </ul>
    </div>
  </div>
{{/each}}

<form class="" action="/logout" method="post">
  <button class="btn btn-light btn-lg" type="submit" role="button" onClick="history.go(0)">Log Out</btn>
</form>

{{> scripts}}

<script src="/js/savedForms.js"></script>
{{> footer}}
